h1{
color: #000;
font-style: normal;
font-weight: bold;
padding: 20px;
font-size: 50px;
padding-bottom: 1px;
}
.container{
margin-top: 15px;
padding-left: 20px;
padding-right: 20px;
border-color: black;
border-top: 1px ;
border-bottom: 1px ;
}
p{
  font-size: 15px;
  font-family: sans-serif;
  color: blue;
  padding-top: 1px;
}
.contact{
color: rgb(5,55,81);
text-decoration-color: #000;
font-family: Poppins;
font-size: 15px;
padding: 10px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
#mint{
  width: 800px;
  height: 600px;
  box-shadow: 20px;
  border-radius: 25px;
  border-color: rgb(5,55,81);
  margin: 20px;
}
.logo1{
  height: 800px;
}
.Logo2{
height: 300px;
}
.h-8{
  height: 2rem;
  width: 2rem;
}
