h1{
color: #000;
font-style: normal;
font-weight: bold;


}
p{
  font-size: 45px;
  font-family: Poppins;
  color: #OE8BCE;
}
.contact{
color: #OE8BCE;
text-decoration-color: #000;
font-family: Poppins;
font-size: 15px;

}
.flex-container{
  display: flex;
  flex-direction: row;

}
#mint{
  width: 800px;
  height: 600px;
}
