h1{
color: #000;
font-style: normal;
font-weight: bold;
padding: 20px;

}
p{
  font-size: 45px;
  font-family: Poppins;
  color: #OE8BCE;
  padding: 20px;
}
.contact{
color: #OE8BCE;
text-decoration-color: #000;
font-family: Poppins;
font-size: 15px;
padding: 10px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
#mint{
  width: 800px;
  height: 600px;
  box-shadow: 20px;
}
